.myheading{
    margin-left: 10px;
    color: #42145F;
font: RNHouseSansRegular;
size: 40px;
}

.mycolour{
    background-color: #42145F;
}

.bclass{
    color:white;
    
    background-color: #42145F;
    
}

.myheading1{
    color: #42145F;
font: RNHouseSansRegular;
size: 40px;
}

.myfont{
    font-family: "Segoe UI";
}

